[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-image = "*"
opencv-python = "*"
pandas = "*"
xgboost = "*"
scikit-learn = "*"
jupyter = "*"
python-telegram-bot = "*"
requests = "*"
matplotlib = "*"
pytesseract = "*"
python-dotenv = "*"
yoyo-migrations = "*"
psycopg2 = "*"
beautifulsoup4 = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
